
  

  #chart{
    width: 750px;
    height: 400px;
    //background-color: #f7f7f7;
    margin: 25px auto;
}
button {
    display: block;
    margin: 0 auto
}
.d3-tooltip {
    position:absolute;
    z-index:1000;
    background:rgba(255,255,255,0.90);
    padding:5px 10px;
    border-radius:5px;
    font-size:12px;
    color:#202020;
    //min-width:150px;
    width:200px;
    border:2px solid #02A6E3;  
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    pointer-events:none;
    }
#tooltip {
    position:absolute;
    z-index:1000;
    background:rgba(255,255,255,0.90);
    padding:5px 10px;
    border-radius:5px;
    font-size:12px;
    color:#202020;
    //min-width:150px;
    width:135px;
    border:2px solid #02A6E3;  
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    pointer-events:none;
    }
    .hidden {
        display:none;
        }
#tooltip1 {
    position: absolute;
    width: 75px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #000;
    pointer-events: none;
    display: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.color-square {
    display:block;
    float:left;
    margin-right:3px;
    width:20px;
    height:20px;
    opacity:.75;
    border:1px solid #000;
}
ul li {
    display: inline-block;
    margin-left: 30px;
}
.annotation {

    position:absolute;
    z-index:999;
    background:rgba(255,255,255,0.90);
    padding:5px 10px;
    border-radius:5px;
    font-size:12px;
    color:#202020;
    //min-width:150px;
    width:130px;
    border:1px dashed #02A6E3;  
    -webkit-transform:translate(0,0);
    transform:translate(0,0);
    pointer-events:none;
}
#annotation {
    position:absolute;
    z-index:998;
    background:rgba(255,255,255,0.90);
    padding:5px 10px;
    border-radius:5px;
    font-size:12px;
    color:#202020;
    //min-width:150px;
    width:135px;
    border:2px solid #02A6E3;  
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    pointer-events:none;
    }
    .annotation {
        position:absolute;
        z-index:999;
        background:rgba(255,255,255,0.90);
        padding:5px 10px;
        border-radius:5px;
        font-size:12px;
        color:#202020;
        //min-width:150px;
        width:150px;
        border:1px dashed #02A6E3;  
        -webkit-transform:translate(0,0);
        transform:translate(0,0);
        pointer-events:none;
        }
    .d3-axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
        }